<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <title>Eggplant</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>

        {% include 'menu.html' %}
        <br><br><br><br>
        <h2 class="block">
            Нужно распечатать документ, но не хочется тратить время на ожидание? Боитесь очереди?
        </h2>
        <p class="BigBlock">
            На данном сайте вы можете заранее распечатать нужные вам файлы в выбранном месте, среди наших партнёров и
            забрать в удобное для вас время.
        </p>
        <h2 class="block">
            Хотите зарабатывать деньги, распечатывая для людей файлы?
        </h2>
        <p class="BigBlock">
            Всё просто. Отправьте заявку на добавление вашего принтера в нашу партнёрскую сеть и зарабатывайте на этом
            без особых усилий.
        </p>
        <h2 class="block" style="background: linear-gradient(35deg, #8a2be2 50%, #a366ff 50%);">
            Нужно распечатать документ, но не хочется тратить время на ожидание? Боитесь очереди?
        </h2>
        <h2 class="block">
            Нужно распечатать документ, но не хочется тратить время на ожидание? Боитесь очереди?
        </h2>
        <h2 class="block" style="background: linear-gradient(35deg, #8a2be2 50%, #a366ff 50%);">
            Нужно распечатать документ, но не хочется тратить время на ожидание? Боитесь очереди?
        </h2>
    </body>
</html>