<div id="headerMain"style="top:0px;left: 0%;right: 0%;text-align: center;position:fixed;">
     <div id="header">
        <div style="height:70px;background: #240935;">
            <a href="/"><button class="button" style="bottom:0;">Главная</button></a>
            <button class="button">О нас</button>
            <button class="button">Для пользователей</button>
            <button class="button">Для партнёров</button>
            <a href="/registration/"><button class="button">Регистрация</button></a>
            <a href="/login/"><button class="button">Вход</button></a>
            <a href="/account/"><button class="button">Личный кабинет</button></a>
        </div>
     </div>
</div>