<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <title>Eggplant</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        {% include 'menu.html' %}
        <form method="POST">
            {% csrf_token %}
            <div class="BigBlock" style="width:300px;height: 180px">
                <input type="text" name="login" placeholder="Логин" style="width:200px;color: #49152C;
                background: linear-gradient(135deg, #8a2be2 1%, #a366ff 99%);">
                <input type="password" name="password" placeholder="Пароль" style="width:200px; color: #49152C;
                background: linear-gradient(135deg, #8a2be2 1%, #a366ff 99%);">
                <input class="button" type="submit">
            </div>
        </form>
    </body>
</html>